[submodule "subrepos/catppuccin/bat"]
	path = subrepos/catppuccin/bat
	url = git@github.com:catppuccin/bat.git
[submodule "subrepos/catppuccin/kitty"]
	path = subrepos/catppuccin/kitty
	url = git@github.com:catppuccin/kitty
[submodule "subrepos/catppuccin/mc"]
	path = subrepos/catppuccin/mc
	url = git@github.com:catppuccin/mc.git
[submodule "subrepos/catppuccin/micro"]
	path = subrepos/catppuccin/micro
	url = git@github.com:catppuccin/micro.git
[submodule "subrepos/catppuccin/tmux"]
	path = subrepos/catppuccin/tmux
	url = git@github.com:catppuccin/tmux.git
