[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule ".vim/bundle/neocomplcache-snippets-complete"]
	path = .vim/bundle/neocomplcache-snippets-complete
	url = https://github.com/Shougo/neocomplcache-snippets-complete.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-unimpaired"]
	path = .vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/vim-extradite"]
	path = .vim/bundle/vim-extradite
	url = https://github.com/int3/vim-extradite
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule ".vim/bundle/Command-T"]
	path = .vim/bundle/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule ".vim/bundle/bufexplorer"]
	path = .vim/bundle/bufexplorer
	url = https://github.com/c9s/bufexplorer

[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule ".vim/bundle/taglist.vim"]
	path = .vim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/golden-ratio"]
	path = .vim/bundle/golden-ratio
	url = http://github.com/roman/golden-ratio
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "misc_submodules/mc-solarized-skin"]
	path = misc_submodules/mc-solarized-skin
	url = https://github.com/nkulikov/mc-solarized-skin
[submodule "misc_submodules/xfce4-terminal-colors-solarized"]
	path = misc_submodules/xfce4-terminal-colors-solarized
	url = https://github.com/sgerrand/xfce4-terminal-colors-solarized.git
[submodule "misc_submodules/vim-syntastic-coffee"]
	path = misc_submodules/vim-syntastic-coffee
	url = https://github.com/vitaly/vim-syntastic-coffee.git
[submodule "misc_submodules/dircolors-solarized"]
	path = misc_submodules/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
