[submodule ".vim/pack/dugan/start/vim-gitgutter"]
	path = .vim/pack/dugan/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/pack/dugan/start/vim-rooter"]
	path = .vim/pack/dugan/start/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule ".vim/pack/dugan/start/vim-gutentags"]
	path = .vim/pack/dugan/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule ".vim/pack/dugan/vim-javascript"]
	path = .vim/pack/dugan/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/pack/dugan/start/lessspace.vim"]
	path = .vim/pack/dugan/start/lessspace.vim
	url = https://github.com/thirtythreeforty/lessspace.vim.git
[submodule ".vim/pack/dugan/start/vim-commentary"]
	path = .vim/pack/dugan/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/dugan/start/vim-fugitive"]
	path = .vim/pack/dugan/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/dugan/start/vim-repeat"]
	path = .vim/pack/dugan/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/pack/dugan/start/vim-surround"]
	path = .vim/pack/dugan/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/dugan/start/vim-unimpaired"]
	path = .vim/pack/dugan/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/pack/dugan/start/vim-devicons"]
	path = .vim/pack/dugan/opt/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule ".vim/pack/dugan/start/tagbar"]
	path = .vim/pack/dugan/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/pack/dugan/start/VimCompletesMe"]
	path = .vim/pack/dugan/start/VimCompletesMe
	url = https://github.com/ajh17/VimCompletesMe.git
[submodule ".vim/pack/dugan/start/ctrlp.vim"]
	path = .vim/pack/dugan/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/dugan/start/vim-filebeagle"]
	path = .vim/pack/dugan/start/vim-filebeagle
	url = https://github.com/jeetsukumaran/vim-filebeagle.git
[submodule ".vim/pack/dugan/start/python-compilers.vim"]
	path = .vim/pack/dugan/start/python-compilers.vim
	url = https://github.com/drgarcia1986/python-compilers.vim.git
[submodule ".vim/pack/dugan/start/vim-dirvish"]
	path = .vim/pack/dugan/start/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish.git
[submodule ".vim/pack/dugan/start/lightline"]
	path = .vim/pack/dugan/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/pack/dugan/start/onedark.vim"]
	path = .vim/pack/dugan/start/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule ".vim/pack/dugan/start/lightline-onedark"]
	path = .vim/pack/dugan/start/lightline-onedark
	url = https://github.com/NovaDev94/lightline-onedark.git
