# For FISH on Slackware with Plasma 5. The files in /etc/profile.d aren't
# normally sourced if you're running sddm and FISH. This causes Plasma 5
# to boot to a black window.
. /etc/profile

export PATH=$PATH:$HOME/.local/bin

