Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

XTerm*faceName: monospace
XTerm*faceSize: 11
XTerm*local: true
XTerm*foreground: rgb:a7/a7/a7
XTerm*background: rgb:1e/1e/1e
XTerm*termName: xterm-256color
XTerm*metaSendsEscape: true

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! Use extended color scheme
rofi.color-enabled:                  true
! Color scheme for normal row
rofi.color-normal:                   argb:00000000,  #FFFFFF, argb:00000000,  #D64937,  #F9F9F9
! Color scheme for urgent row
rofi.color-urgent:                   argb:00000000,  #F99157 , argb:00000000,  #F99157 ,  #FF0000
! Color scheme for active row
rofi.color-active:                   argb:00000000,  #6699CC , argb:00000000,  #6699CC ,  #00FF00
! Color scheme window
rofi.color-window:                   #333333,  #2D2D2D ,  #2D2D2D
! Separator style (none, dash, solid)
rofi.separator-style:                solid
