Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! Set to whatever it should be.
! Xft.dpi: 96

! Arc Dark
rofi.color-enabled: true
rofi.color-window: #383c4a, #383c4a, #383c4a
rofi.color-normal: #404552, #ffffff, #404552, #304d72, #ffffff
rofi.color-active: #fdf6e3, #268bd2, #eee8d5, #268bd2, #fdf6e3
rofi.color-urgent: #fdf6e3, #dc322f, #eee8d5, #dc322f, #fdf6e3

rofi.lines: 3
rofi.eh: 2
rofi.width: 60
rofi.opacity: 80
rofi.separator-style:                solid
